build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    CONAN_REFERENCE: "mpir/3.0.0"
    CONAN_USERNAME: "bitprim"
    CONAN_LOGIN_USERNAME: "bitprim-bintray"
    CONAN_CHANNEL: "stable"
    VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"

    CONAN_UPLOAD: "https://api.bintray.com/conan/bitprim/bitprim"
    CONAN_STABLE_BRANCH_PATTERN: "release/*"

    matrix:
        - MINGW_CONFIGURATIONS: "7.1@x86_64@seh@posix" #7.1@x86_64@sjlj@posix"
        - MINGW_CONFIGURATIONS: "5.4@x86_64@seh@posix" #5.4@x86_64@sjlj@posix"
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017 
          CONAN_VISUAL_VERSIONS: 15
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015 
          CONAN_VISUAL_VERSIONS: 14



        # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
        #   CONAN_VISUAL_VERSIONS: 12

        # - MINGW_CONFIGURATIONS: "4.9@x86_64@seh@posix, 4.9@x86_64@sjlj@posix, 4.9@x86@sjlj@posix, 4.9@x86@dwarf2@posix"

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools
  - pip.exe install cpuid --upgrade
  - conan user # It creates the conan data directory

test_script:
  - python build.py
